
#header div[class^="col-"] {
    height: 80px;
    background-color: pink;
    border: solid 1px black;
}

#jumbotron div[class^="col-"] {
    height: 300px;
    background-color:orange;
    border: solid 1px black;
}

.container .row h1{
    text-align: center;
}

 h2 {
    text-align: center;
} 
  

h2:before, h2:after {
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

}

#portfolio div[class^="col-"] {
    height: 200px;
    background-color: darkgreen;
    border: solid 1px black;
}

.contenuto{
    height: 200px;
    background-color: orange;
}

.contenuto img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#about div[class^="col-"] {
    height: 250px;
    background-color: red;
    border: solid 1px black;

}

#contact div[class^="col-"] {
    height: 300px;
    background-color: yellow;
    border: solid 1px black;

}

#location div[class^="col-"] {
    height: 120px;
    background-color: blue;
    border: solid 1px black;

}

#footer div[class^="col-"] {
    height: 70px;
    background-color: grey;
    border: solid 1px black;

}





/* @media all and (max-width:768px){
    col-xs-12{
        width: 100%;
    }
}

@media all and (min-width:768px){
    col-xs-12{
        width: 100%;
    }
}

@media all and (min-width:992px){
    col-xs-12{
        width: 100%;
    }
} */