
#header div[class^="col-"] {
    height: 80px;
    background-color: rgba(44,62,80,255);
    border: solid 1px black;
}
#navbarNavDropdown{
    background-color: ;
}


/* jumbo */
#jumbotron div[class^="col-"] {
    background-color:rgba(26,188,156,255);
    color: white;
}

#jumbotron img{
    width: 20%;
    height: 20%; 
}

.container .row h1, h2, h4, .img_{
    text-align: center;
}

h2:before, h2:after {
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

/* portfolio */
#portfolio div[class^="col-"] {
    height: 200px;
    background-color: white;
    margin-bottom: 20px;
    /* border: solid 1px black; */
}

.contenuto{
    height: 200px;
    /* background-color: orange; */
}

.contenuto img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* about */
#about div[class^="col-"] {
    height: 100px;
    background-color: rgba(26,188,156,255);
    color: white;
    /* border: solid 1px black; */
}

#about button{
    background-color:rgba(26,188,156,255);
    color: white;
    border-color: white;
    margin-top:20px ;
}

/* #about .row{
    width: 80%;
    margin: auto;
} */

/* contact  */
#contact div[class^="col-"] {
    /* height: 500px;
    background-color: yellow;
    border: solid 1px black; */

}

.mb-3{
    margin: auto;
    width: 80%;
}
.mb-3 button{
    margin-top: 20px;
    background-color: rgba(26,188,156,255);
    border: none;
}

/* location */
#location div[class^="col-"] {
    height: 140px;
    background-color:rgba(58,84,109,255);
    /* border: solid 1px black;  */
    color: white;
    text-align: center;
}

h7 span{
    color: rgba(27,182,153,255);
}

#location div i{
    padding: 10px;
    font-size:25px;
    border:solid 2px white;
    border-radius: 50%;
}

/* footer */
#footer div[class^="col-"] {
    height: 70px;
    background-color: rgba(44,62,80,255);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px black; */
}
#footer h6{
    color: white;
}
